{{> main title="Home Page" }}

<div class="container mt-5">
  <div class="card shadow-lg p-4 text-center">
    <h2 class="mb-4">✅ You are logged in!</h2>

    <a href="/logout" class="btn btn-danger btn-lg">Sign Out</a>
  </div>
</div>
